* {
  font-family: "Montserrat", sans-serif;
}

body, html {
  margin: 0;
  height: 100%;
}

nav {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
}

nav ul {
  list-style: none;
  margin-left: 12.5vw;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: #FF5151;
}

.grid-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.grid-container .lander-header {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 33vw;
  height: 33vw;
  max-width: 800px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.grid-container .lander-header h1 {
  font-size: 5rem;
  margin: 3rem 0;
  line-height: 5.5rem;
}

.grid-container .lander-header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-container .lander-header .flex p {
  font-family: "Merriweather";
  font-size: 1.2rem;
  opacity: 0.6;
  width: 30vw;
  height: 100%;
  line-height: 2rem;
  margin: 0;
}

.grid-container .lander-header .flex .decoration {
  width: 15px;
  height: 40px;
  background-color: #9818D6;
  display: inline-block;
  margin: 8px 20px 0 0;
}

.grid-container .lander-img {
  -ms-grid-column: 5;
      grid-column-start: 5;
  margin-top: 120px;
  width: 35vw;
  height: 35vw;
  border: 1px solid black;
  background-color: #fff;
  -webkit-box-shadow: 2.5vw 2.5vw 0 black;
          box-shadow: 2.5vw 2.5vw 0 black;
  z-index: 2;
}

.grid-container .lander-img img {
  -ms-grid-column: 5;
      grid-column-start: 5;
  width: 35vw;
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .project-container-1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[6];
      grid-template-columns: repeat(6, 100%);
  padding: 400px 0 0 0;
  z-index: 2;
}

.grid-container .project-container-1 .left-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  width: 33vw;
}

.grid-container .project-container-1 .left-container p {
  font-family: "Merriweather";
  opacity: 0.6;
  font-size: 1.2rem;
}

.grid-container .project-container-1 .left-container h1 {
  margin: 2rem 0;
  font-size: 4rem;
  line-height: 4.5rem;
}

.grid-container .project-container-1 .left-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 33vw;
  height: 25vw;
}

.grid-container .project-container-1 .left-container a {
  font-family: "Merriweather";
  font-size: 1.2rem;
  text-decoration: none;
  color: #FF5151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

.grid-container .project-container-1 .right-container {
  -ms-grid-column: 4;
      grid-column-start: 4;
  width: 33vw;
  height: 100%;
  position: relative;
}

.grid-container .project-container-1 .right-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 33vw;
  height: 25vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid-container .project-container-1 .right-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33vw;
  height: 25vw;
  background-color: rgba(0, 0, 0, 0.03);
}

.grid-container .project-container-1 .right-container .overlay:before {
  content: '';
  width: 15px;
  height: 40px;
  background-color: #FF5151;
  position: absolute;
  top: -104px;
  right: 0;
}

.grid-container .project-container-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[6];
      grid-template-columns: repeat(6, 100%);
  padding: 250px 0 200px 0;
  z-index: 2;
}

.grid-container .project-container-2 .left-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 33vw;
}

.grid-container .project-container-2 .left-container p {
  font-family: "Merriweather";
  opacity: 0.6;
  font-size: 1.2rem;
}

.grid-container .project-container-2 .left-container h1 {
  margin: 2rem 0;
  font-size: 4rem;
  line-height: 4.5rem;
}

.grid-container .project-container-2 .left-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 33vw;
  height: 25vw;
  border: 1px solid black;
}

.grid-container .project-container-2 .left-container a {
  font-family: "Merriweather";
  font-size: 1.2rem;
  text-decoration: none;
  color: #FF5151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

.grid-container .project-container-2 .right-container {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 33vw;
  height: 100%;
  position: relative;
}

.grid-container .project-container-2 .right-container .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33vw;
  height: 25vw;
  background-color: #EDEDED;
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid-container .project-container-2 .right-container .img img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 4vw 0 0 0;
  width: 33vw;
  height: 25vw;
}

.grid-container .project-container-2 .right-container .img::before {
  content: '';
  width: 15px;
  height: 40px;
  background-color: #9818D6;
  position: absolute;
  right: 0;
  top: -104px;
}

.grid-container .project-container-2::before {
  content: '';
  width: 15px;
  height: 40px;
  background-color: #EDEDED;
  margin-bottom: 30px;
}

.grid-container .separator {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  margin: 100px 0;
  height: 600px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffa41c), color-stop(#ff9426), color-stop(#ff8530), color-stop(#ff753a), color-stop(#ff6644), color-stop(#ff524f), color-stop(#ff3b5c), color-stop(#fe1d6b), color-stop(#f50083), color-stop(#e4009e), color-stop(#c600ba), to(#9818d6));
  background-image: linear-gradient(to right top, #ffa41c, #ff9426, #ff8530, #ff753a, #ff6644, #ff524f, #ff3b5c, #fe1d6b, #f50083, #e4009e, #c600ba, #9818d6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container .separator h1 {
  font-size: 4rem;
}

.grid-container .separator p {
  padding: 15px 40px;
  border: 1px solid white;
  -webkit-box-shadow: 7px 7px 0 white;
          box-shadow: 7px 7px 0 white;
}

.grid-container .main-skills-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 2;
}

.grid-container .main-skills-container .code, .grid-container .main-skills-container .uxui, .grid-container .main-skills-container .proto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  min-width: 600px;
  max-width: 1600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px;
}

.grid-container .main-skills-container .code img, .grid-container .main-skills-container .uxui img, .grid-container .main-skills-container .proto img {
  width: 15vw;
  height: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 100px;
}

.grid-container .main-skills-container .code h3, .grid-container .main-skills-container .uxui h3, .grid-container .main-skills-container .proto h3 {
  display: inline-block;
  font-size: 1.6rem;
}

.grid-container .main-skills-container .code p, .grid-container .main-skills-container .uxui p, .grid-container .main-skills-container .proto p {
  width: 30vw;
  font-family: "Merriweather";
  line-height: 2rem;
  opacity: 0.6;
}

.grid-container .main-skills-container .code h3 {
  color: #9818D6;
}

.grid-container .main-skills-container .uxui h3 {
  color: #FF5151;
}

.grid-container .main-skills-container .proto h3 {
  color: #FFA41C;
}

.grid-container .testimonials {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  height: 800px;
  text-align: center;
  padding: 200px 0;
}

Footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  background-color: #1f1f1f;
  height: 600px;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */